[submodule "cmake-utils"]
	path = "cmake-utils"
	url = https://github.com/cwfitzgerald/cmake-utils.git
[submodule "third-party/CLI11"]
	path = third-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "third-party/libsimdpp"]
	path = third-party/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
